<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    
    <p>user name</p>
    <input type="text" name="uname"  ngModel required #userName="ngModel">
    <p style="color: red;" *ngIf="userName.touched && !userName.valid " >username is required</p>
    
    <p>email</p>
    <input type="text" name="email" ngModel required #email="ngModel">
    <p style="color: red;" *ngIf="email.touched && !email.valid " >email is required</p>
    <p>age</p>
    <input type="text" name="age" ngModel required #age="ngModel">
    <p style="color: red;" *ngIf="age.touched && !age.valid " >age is required</p>

    <p>Mob Number<span style="color:red">*</span></p>
    <input type="text" name="mobnumber" ngModel required #mobNumber="ngModel">
    
    <p style="color: red;" *ngIf="mobNumber.touched && !mobNumber.valid " >Mobile number is required</p>

    <br>
    <br>

    <button type="submit" [disabled]="!loginForm.valid" >Submit</button>
</form>
